src/main/resources/wsdl/DemandDepositInstructionManagerSpi.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://spi.savings.deposit.app.fcr.iflex.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://spi.savings.deposit.app.fcr.iflex.com" xmlns:intf="http://spi.savings.deposit.app.fcr.iflex.com" xmlns:tns1="http://context.app.fcr.iflex.com" xmlns:tns10="http://dto.common.entity.fcr.iflex.com" xmlns:tns11="http://datatype.fcr.iflex.com" xmlns:tns12="http://casa.account.entity.fcr.iflex.com" xmlns:tns13="http://dto.deposit.app.fcr.iflex.com" xmlns:tns2="http://enumeration.fcr.iflex.com" xmlns:tns3="http://dto.spi.savings.deposit.app.fcr.iflex.com" xmlns:tns4="http://dto.savings.deposit.app.fcr.iflex.com" xmlns:tns5="http://dto.entity.fcr.iflex.com" xmlns:tns6="http://transaction.entity.fcr.iflex.com" xmlns:tns7="http://exception.infra.fcr.iflex.com" xmlns:tns8="http://enumeration.infra.fcr.iflex.com" xmlns:tns9="http://error.validation.infra.fcr.iflex.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://spi.savings.deposit.app.fcr.iflex.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.savings.deposit.app.fcr.iflex.com"/>
   <import namespace="http://dto.deposit.app.fcr.iflex.com"/>
   <import namespace="http://exception.infra.fcr.iflex.com"/>
   <import namespace="http://dto.entity.fcr.iflex.com"/>
   <import namespace="http://dto.common.entity.fcr.iflex.com"/>
   <import namespace="http://error.validation.infra.fcr.iflex.com"/>
   <import namespace="http://dto.spi.savings.deposit.app.fcr.iflex.com"/>
   <import namespace="http://transaction.entity.fcr.iflex.com"/>
   <import namespace="http://enumeration.infra.fcr.iflex.com"/>
   <import namespace="http://datatype.fcr.iflex.com"/>
   <import namespace="http://context.app.fcr.iflex.com"/>
   <import namespace="http://enumeration.fcr.iflex.com"/>
   <import namespace="http://casa.account.entity.fcr.iflex.com"/>
   <element name="inquireForMaintenance">
    <complexType>
     <sequence>
      <element name="sessionContext" type="tns1:SessionContext"/>
      <element name="accountId" type="xsd:string"/>
      <element name="instructionNumber" type="xsd:int"/>
      <element name="maintenanceType" type="tns2:MaintenanceType"/>
     </sequence>
    </complexType>
   </element>
   <element name="inquireForMaintenanceResponse">
    <complexType>
     <sequence>
      <element name="inquireForMaintenanceReturn" type="tns3:StandingInstructionInquirySpiReponse"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="tns7:FatalException"/>
   <element name="addStandingInstruction">
    <complexType>
     <sequence>
      <element name="sessionContext" type="tns1:SessionContext"/>
      <element name="standingInstructionDTOreq" type="tns3:StandingInstructionDTO"/>
     </sequence>
    </complexType>
   </element>
   <element name="addStandingInstructionResponse">
    <complexType>
     <sequence>
      <element name="addStandingInstructionReturn" type="tns3:StandingInstructionMaintenanceResponse"/>
     </sequence>
    </complexType>
   </element>
   <element name="listStandingInstructions">
    <complexType>
     <sequence>
      <element name="sessionContext" type="tns1:SessionContext"/>
      <element name="customerId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="listStandingInstructionsResponse">
    <complexType>
     <sequence>
      <element name="listStandingInstructionsReturn" type="tns4:StandingInstructionDetailsResponse"/>
     </sequence>
    </complexType>
   </element>
   <element name="modifyStandingInstruction">
    <complexType>
     <sequence>
      <element name="sessionContext" type="tns1:SessionContext"/>
      <element name="standingInstructionDTOReq" type="tns3:StandingInstructionDTO"/>
      <element name="maintenanceTicket" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="modifyStandingInstructionResponse">
    <complexType>
     <sequence>
      <element name="modifyStandingInstructionReturn" type="tns3:StandingInstructionMaintenanceResponse"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteStandingInstruction">
    <complexType>
     <sequence>
      <element name="sessionContext" type="tns1:SessionContext"/>
      <element name="accountId" type="xsd:string"/>
      <element name="instructionNumber" type="xsd:int"/>
      <element name="versionTicket" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteStandingInstructionResponse">
    <complexType>
     <sequence>
      <element name="deleteStandingInstructionReturn" type="tns3:StandingInstructionMaintenanceResponse"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://context.app.fcr.iflex.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.savings.deposit.app.fcr.iflex.com"/>
   <import namespace="http://dto.deposit.app.fcr.iflex.com"/>
   <import namespace="http://exception.infra.fcr.iflex.com"/>
   <import namespace="http://dto.entity.fcr.iflex.com"/>
   <import namespace="http://dto.common.entity.fcr.iflex.com"/>
   <import namespace="http://error.validation.infra.fcr.iflex.com"/>
   <import namespace="http://dto.spi.savings.deposit.app.fcr.iflex.com"/>
   <import namespace="http://transaction.entity.fcr.iflex.com"/>
   <import namespace="http://enumeration.infra.fcr.iflex.com"/>
   <import namespace="http://datatype.fcr.iflex.com"/>
   <import namespace="http://enumeration.fcr.iflex.com"/>
   <import namespace="http://casa.account.entity.fcr.iflex.com"/>
   <complexType name="AuthorizationReason">
    <sequence>
     <element name="comment" nillable="true" type="xsd:string"/>
     <element name="reasonCode" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="UserContext">
    <sequence>
     <element name="primaryPassword" nillable="true" type="xsd:string"/>
     <element name="userId" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SessionContext">
    <sequence>
     <element name="bankCode" type="xsd:int"/>
     <element name="channel" nillable="true" type="xsd:string"/>
     <element name="externalBatchNumber" type="xsd:long"/>
     <element name="externalReferenceNo" nillable="true" type="xsd:string"/>
     <element name="externalSystemAuditTrailNumber" type="xsd:long"/>
     <element name="localDateTimeText" nillable="true" type="xsd:string"/>
     <element name="originalReferenceNo" nillable="true" type="xsd:string"/>
     <element name="overridenWarnings" nillable="true" type="xsd:string"/>
     <element name="postingDateText" nillable="true" type="xsd:string"/>
     <element name="reason" nillable="true" type="tns1:AuthorizationReason"/>
     <element name="serviceCode" nillable="true" type="xsd:string"/>
     <element name="sessionTicket" nillable="true" type="xsd:string"/>
     <element name="supervisorContext" nillable="true" type="tns1:UserContext"/>
     <element name="transactionBranch" type="xsd:int"/>
     <element name="userId" nillable="true" type="xsd:string"/>
     <element name="userReferenceNumber" nillable="true" type="xsd:string"/>
     <element name="valueDateText" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://enumeration.fcr.iflex.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.savings.deposit.app.fcr.iflex.com"/>
   <import namespace="http://dto.deposit.app.fcr.iflex.com"/>
   <import namespace="http://exception.infra.fcr.iflex.com"/>
   <import namespace="http://dto.entity.fcr.iflex.com"/>
   <import namespace="http://dto.common.entity.fcr.iflex.com"/>
   <import namespace="http://error.validation.infra.fcr.iflex.com"/>
   <import namespace="http://dto.spi.savings.deposit.app.fcr.iflex.com"/>
   <import namespace="http://transaction.entity.fcr.iflex.com"/>
   <import namespace="http://enumeration.infra.fcr.iflex.com"/>
   <import namespace="http://datatype.fcr.iflex.com"/>
   <import namespace="http://context.app.fcr.iflex.com"/>
   <import namespace="http://casa.account.entity.fcr.iflex.com"/>
   <simpleType name="MaintenanceType">
    <restriction base="xsd:string">
     <enumeration id="MaintenanceType.ADDITION" value="a"/>
     <enumeration id="MaintenanceType.MODIFICATION" value="m"/>
     <enumeration id="MaintenanceType.DELETION" value="d"/>
     <enumeration id="MaintenanceType.AUTHORIZE" value="z"/>
     <enumeration id="MaintenanceType.CANCEL" value="k"/>
     <enumeration id="MaintenanceType.AMEND" value="n"/>
     <enumeration id="MaintenanceType.NONE" value=" "/>
     <enumeration id="MaintenanceType.INQUIRE" value="i"/>
    </restriction>
   </simpleType>
   <simpleType name="StatusType">
    <restriction base="xsd:string">
     <enumeration id="StatusType.AUTHORISED" value="A"/>
     <enumeration id="StatusType.UNAUTHORISED" value="U"/>
     <enumeration id="StatusType.VIEWED" value="V"/>
    </restriction>
   </simpleType>
   <simpleType name="BeneficiaryAccountType">
    <restriction base="xsd:string">
     <enumeration id="BeneficiaryAccountType.ORDINARY" value="1"/>
     <enumeration id="BeneficiaryAccountType.CURRENT" value="2"/>
     <enumeration id="BeneficiaryAccountType.SAVINGS" value="4"/>
     <enumeration id="BeneficiaryAccountType.OTHERS" value="3"/>
    </restriction>
   </simpleType>
   <simpleType name="PaymentModeType">
    <restriction base="xsd:string">
     <enumeration id="PaymentModeType.Zengin" value="1"/>
     <enumeration id="PaymentModeType.Others" value="2"/>
    </restriction>
   </simpleType>
   <simpleType name="FrequencyType">
    <restriction base="xsd:string">
     <enumeration id="FrequencyType.DAILY" value="1"/>
     <enumeration id="FrequencyType.WEEKLY" value="2"/>
     <enumeration id="FrequencyType.FORTNIGHTLY" value="3"/>
     <enumeration id="FrequencyType.MONTHLY" value="4"/>
     <enumeration id="FrequencyType.BIMONTHLY" value="5"/>
     <enumeration id="FrequencyType.QUARTERLY" value="6"/>
     <enumeration id="FrequencyType.HALFYEARLY" value="7"/>
     <enumeration id="FrequencyType.YEARLY" value="8"/>
     <enumeration id="FrequencyType.MATURITY" value="0"/>
    </restriction>
   </simpleType>
   <simpleType name="StandingInstructionType">
    <restriction base="xsd:string">
     <enumeration id="StandingInstructionType.INTERNAL_FLEXCUBE_ACCOUNT" value="1"/>
     <enumeration id="StandingInstructionType.INTERNAL_FLEXCUBE_LOAN_ACCOUNT" value="2"/>
     <enumeration id="StandingInstructionType.EXTERNAL_NONFC_ACCOUNT" value="3"/>
     <enumeration id="StandingInstructionType.BANKERS_CHEQUE" value="4"/>
     <enumeration id="StandingInstructionType.INTERNAL_FLEXCUBE_GL_ACCOUNT" value="5"/>
     <enumeration id="StandingInstructionType.INTERNAL_TD_ACCOUNT" value="8"/>
     <enumeration id="StandingInstructionType.NEW_TD_ACCOUNT" value="9"/>
    </restriction>
   </simpleType>
   <simpleType name="BaseAmountTierRateType">
    <restriction base="xsd:string">
     <enumeration id="BaseAmountTierRateType.INCREMENTAL_AMOUNT" value="I"/>
     <enumeration id="BaseAmountTierRateType.CUMULATIVE_FOR_THE_DEPOSIT" value="C"/>
     <enumeration id="BaseAmountTierRateType.CUMULATIVE_FOR_ALL_THE_DEPOSIT" value="S"/>
    </restriction>
   </simpleType>
   <simpleType name="CompoundingFrequencyType">
    <restriction base="xsd:string">
     <enumeration id="CompoundingFrequencyType.NONE_OR_AT_MATURITY" value="0"/>
     <enumeration id="CompoundingFrequencyType.HALF_YEARLY" value="7"/>
     <enumeration id="CompoundingFrequencyType.QUARTERLY" value="6"/>
     <enumeration id="CompoundingFrequencyType.MONTHLY" value="4"/>
     <enumeration id="CompoundingFrequencyType.BI_MONTHLY" value="5"/>
     <enumeration id="CompoundingFrequencyType.YEARLY" value="8"/>
    </restriction>
   </simpleType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://enumeration.infra.fcr.iflex.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.savings.deposit.app.fcr.iflex.com"/>
   <import namespace="http://dto.deposit.app.fcr.iflex.com"/>
   <import namespace="http://exception.infra.fcr.iflex.com"/>
   <import namespace="http://dto.entity.fcr.iflex.com"/>
   <import namespace="http://dto.common.entity.fcr.iflex.com"/>
   <import namespace="http://error.validation.infra.fcr.iflex.com"/>
   <import namespace="http://dto.spi.savings.deposit.app.fcr.iflex.com"/>
   <import namespace="http://transaction.entity.fcr.iflex.com"/>
   <import namespace="http://datatype.fcr.iflex.com"/>
   <import namespace="http://context.app.fcr.iflex.com"/>
   <import namespace="http://enumeration.fcr.iflex.com"/>
   <import namespace="http://casa.account.entity.fcr.iflex.com"/>
   <simpleType name="ReplyMessageType">
    <restriction base="xsd:string">
     <enumeration id="ReplyMessageType.SUCCESS" value="0"/>
     <enumeration id="ReplyMessageType.INV_ACCT_CODE" value="1"/>
     <enumeration id="ReplyMessageType.ACCT_CLOSED_ERR" value="2"/>
     <enumeration id="ReplyMessageType.ACCT_BLOCKED_ERR" value="3"/>
     <enumeration id="ReplyMessageType.NODR_ONACCT" value="4"/>
     <enumeration id="ReplyMessageType.NOCR_ONACCT" value="5"/>
     <enumeration id="ReplyMessageType.ACCT_CLOSED_TODAY" value="6"/>
     <enumeration id="ReplyMessageType.ACCT_DORMANT" value="7"/>
     <enumeration id="ReplyMessageType.MEMO_ON_ACCT" value="8"/>
     <enumeration id="ReplyMessageType.STOP_ON_ACCOUNT" value="9"/>
     <enumeration id="ReplyMessageType.DORMANT_CUSTOMER" value="9"/>
     <enumeration id="ReplyMessageType.ACCT_INFO_CHANGED" value="10"/>
     <enumeration id="ReplyMessageType.ACC_EXISTS" value="11"/>
     <enumeration id="ReplyMessageType.MEMO_ON_DR_ACCT" value="11"/>
     <enumeration id="ReplyMessageType.MULT_CUST_FOUND" value="12"/>
     <enumeration id="ReplyMessageType.ACC_INOPERATIVE" value="15"/>
     <enumeration id="ReplyMessageType.NO_OUTSTANDING_PO" value="16"/>
     <enumeration id="ReplyMessageType.INSUFF_FUNDS_TOD_HOLD" value="18"/>
     <enumeration id="ReplyMessageType.INV_PAYEE_ACCT" value="19"/>
     <enumeration id="ReplyMessageType.INV_USER_ACCESS" value="20"/>
     <enumeration id="ReplyMessageType.INV_TXN_CCY" value="21"/>
     <enumeration id="ReplyMessageType.DB_ERROR" value="22"/>
     <enumeration id="ReplyMessageType.ACCT_SUSPENDED" value="23"/>
     <enumeration id="ReplyMessageType.DUP_BC_INSTR_LOST" value="24"/>
     <enumeration id="ReplyMessageType.INV_DEST_BRANCH" value="25"/>
     <enumeration id="ReplyMessageType.INV_INSTR_DETAILS" value="26"/>
     <enumeration id="ReplyMessageType.INSTR_CAUTION" value="27"/>
     <enumeration id="ReplyMessageType.VAL_DT_CLG_NOT_RUN" value="28"/>
     <enumeration id="ReplyMessageType.OLTP_INT_ERROR" value="29"/>
     <enumeration id="ReplyMessageType.INSTR_STALE" value="30"/>
     <enumeration id="ReplyMessageType.INSUFF_FUNDS_TOD" value="31"/>
     <enumeration id="ReplyMessageType.INSTR_UNCLAIMED" value="32"/>
     <enumeration id="ReplyMessageType.REPRESENT_CHQ" value="33"/>
     <enumeration id="ReplyMessageType.REORDER_LEVEL" value="34"/>
     <enumeration id="ReplyMessageType.MEMO_ON_CR_ACCT" value="35"/>
     <enumeration id="ReplyMessageType.INSUFF_FUNDS_AMB" value="36"/>
     <enumeration id="ReplyMessageType.INSUFF_FUNDS_OVL" value="37"/>
     <enumeration id="ReplyMessageType.TOO_MANY_WITHDRAWALS" value="38"/>
     <enumeration id="ReplyMessageType.RD_INST_PAID" value="39"/>
     <enumeration id="ReplyMessageType.ACCT_NT_FLG_CLS" value="40"/>
     <enumeration id="ReplyMessageType.ACCT_BAL_NT_ZERO" value="41"/>
     <enumeration id="ReplyMessageType.INSUFF_FUNDS_OVL_HOLD_EXCEED" value="42"/>
     <enumeration id="ReplyMessageType.PDC_CREDITED" value="43"/>
     <enumeration id="ReplyMessageType.ACCT_NT_CLS" value="44"/>
     <enumeration id="ReplyMessageType.INSUFF_FUNDS_OVL_EXCEED" value="45"/>
     <enumeration id="ReplyMessageType.INVALID_DATE" value="46"/>
     <enumeration id="ReplyMessageType.NSF_RECV_TODAY" value="47"/>
     <enumeration id="ReplyMessageType.RED_MODE_DIFFERENT" value="48"/>
     <enumeration id="ReplyMessageType.HOLD_FUND_ON_ACCT" value="49"/>
     <enumeration id="ReplyMessageType.NLS_DETAILS_NOT_FOUND" value="50"/>
     <enumeration id="ReplyMessageType.PAY_MODE_NT_SAME" value="51"/>
     <enumeration id="ReplyMessageType.FC_LINE_CODE_INV" value="52"/>
     <enumeration id="ReplyMessageType.FC_LINE_EXCEEDED" value="53"/>
     <enumeration id="ReplyMessageType.FC_RISK_EXCEEDED" value="54"/>
     <enumeration id="ReplyMessageType.FC_LINK_FAILED" value="55"/>
     <enumeration id="ReplyMessageType.ACCT_WITHOUTCARD" value="14"/>
     <enumeration id="ReplyMessageType.FC_SYNC_ERROR" value="17"/>
     <enumeration id="ReplyMessageType.INSUFF_FUNDS_OVL_HOLD" value="56"/>
     <enumeration id="ReplyMessageType.LOCKIN_TERM_VIOLATE" value="57"/>
     <enumeration id="ReplyMessageType.INV_ACCT_STAT" value="58"/>
     <enumeration id="ReplyMessageType.INV_ORIG_TXN" value="59"/>
     <enumeration id="ReplyMessageType.INV_INSTR_NO" value="60"/>
     <enumeration id="ReplyMessageType.INSTR_LOST" value="61"/>
     <enumeration id="ReplyMessageType.INSTR_STOPPED" value="62"/>
     <enumeration id="ReplyMessageType.INSTR_PAID" value="63"/>
     <enumeration id="ReplyMessageType.INV_INSTR_STAT" value="64"/>
     <enumeration id="ReplyMessageType.INV_INSTR_AMT" value="65"/>
     <enumeration id="ReplyMessageType.INV_INSTR_ACCT" value="66"/>
     <enumeration id="ReplyMessageType.INV_INSTR_CCY" value="67"/>
     <enumeration id="ReplyMessageType.INSTR_STAT_CANCELLED" value="68"/>
     <enumeration id="ReplyMessageType.INV_INSTR_ACCT_ST" value="69"/>
     <enumeration id="ReplyMessageType.MEMO_INSTR_AC" value="70"/>
     <enumeration id="ReplyMessageType.INV_INSTR_LQD_BANK" value="71"/>
     <enumeration id="ReplyMessageType.INV_INSTR_BANK_CODE" value="72"/>
     <enumeration id="ReplyMessageType.ACCT_WITHCARD" value="73"/>
     <enumeration id="ReplyMessageType.INSTR_NOT_PAID" value="74"/>
     <enumeration id="ReplyMessageType.INV_TO_ACCT_STAT" value="75"/>
     <enumeration id="ReplyMessageType.MEMO_ON_TD_ACCT" value="76"/>
     <enumeration id="ReplyMessageType.LN_BEYOND_VALUE_DATE" value="77"/>
     <enumeration id="ReplyMessageType.ACCT_INFO_TO_CHNG" value="78"/>
     <enumeration id="ReplyMessageType.INV_TO_ACCT" value="79"/>
     <enumeration id="ReplyMessageType.MEMO_ON_LN_ACCT" value="80"/>
     <enumeration id="ReplyMessageType.PRIM_CUST_NOT_MIN" value="81"/>
     <enumeration id="ReplyMessageType.JOINT_ACCT_HOLDER" value="82"/>
     <enumeration id="ReplyMessageType.MINOR_NOT_SOW" value="83"/>
     <enumeration id="ReplyMessageType.INV_FLG_REV_CR" value="84"/>
     <enumeration id="ReplyMessageType.INV_PROC_DATE" value="85"/>
     <enumeration id="ReplyMessageType.ERR_INSUFF_FUNDS" value="86"/>
     <enumeration id="ReplyMessageType.CUST_NT_SAME" value="87"/>
     <enumeration id="ReplyMessageType.CREDIT_OVRIDE" value="88"/>
     <enumeration id="ReplyMessageType.DEBIT_OVRIDE" value="89"/>
     <enumeration id="ReplyMessageType.AUTO_REV_DONE" value="90"/>
     <enumeration id="ReplyMessageType.TXN_ALREADY_SERVICED" value="91"/>
     <enumeration id="ReplyMessageType.INSUFF_PDC_PURCH" value="92"/>
     <enumeration id="ReplyMessageType.RECORD_NOT_FOUND" value="93"/>
     <enumeration id="ReplyMessageType.DUP_BC_PRINT" value="94"/>
     <enumeration id="ReplyMessageType.RECORD_PRESENT" value="95"/>
     <enumeration id="ReplyMessageType.INSTR_REFUNDED" value="96"/>
     <enumeration id="ReplyMessageType.ORG_TXN_SUSP" value="97"/>
     <enumeration id="ReplyMessageType.OVER_IB_WDR_LIM" value="98"/>
     <enumeration id="ReplyMessageType.INSUFF_SWPIN_BAL" value="99"/>
     <enumeration id="ReplyMessageType.OVER_PER_TXN_LIM" value="100"/>
     <enumeration id="ReplyMessageType.GRP_MIN_BAL" value="106"/>
     <enumeration id="ReplyMessageType.AUTH_DUAL_CONTROL" value="1000"/>
     <enumeration id="ReplyMessageType.AUTH_INTERBRANCH_LIMIT" value="1001"/>
     <enumeration id="ReplyMessageType.AUTH_SAMEBRANCH_LIMIT" value="1002"/>
     <enumeration id="ReplyMessageType.AUTH_INTER_BRANCH" value="1011"/>
     <enumeration id="ReplyMessageType.LCY_CR_RESTRICTED" value="115"/>
     <enumeration id="ReplyMessageType.AUTH_ACCT_RATE_CHANGE" value="1016"/>
     <enumeration id="ReplyMessageType.AUTH_TXN_RATE_CHANGE" value="1017"/>
     <enumeration id="ReplyMessageType.AUTH_PAYABLE_LIMIT" value="1022"/>
     <enumeration id="ReplyMessageType.AUTH_SC_CHANGE" value="1023"/>
     <enumeration id="ReplyMessageType.AUTH_FX_LIMIT" value="1042"/>
     <enumeration id="ReplyMessageType.AUTH_LN_NO_PAYMENT_EXCEEDED" value="1018"/>
     <enumeration id="ReplyMessageType.AUTH_LN_WAIVER" value="1019"/>
     <enumeration id="ReplyMessageType.INST_PART_AMT_SUFF" value="1028"/>
     <enumeration id="ReplyMessageType.MAX_LIMIT" value="586"/>
     <enumeration id="ReplyMessageType.ACCT_OPEN_AUTH_REQD" value="116"/>
     <enumeration id="ReplyMessageType.INDUPLUM_LIMIT_BREACHED" value="118"/>
     <enumeration id="ReplyMessageType.INDUPLUM_ACCT_NO_DEBIT_ALLOWED" value="120"/>
     <enumeration id="ReplyMessageType.CUST_DTLS_NOT_MAINTAINED" value="112"/>
    </restriction>
   </simpleType>
   <simpleType name="ResponseCodeType">
    <restriction base="xsd:string">
     <enumeration id="ResponseCodeType.MAX_LIMIT" value="586"/>
     <enumeration id="ResponseCodeType.BATCH_ALREADY_OPEN" value="70"/>
     <enumeration id="ResponseCodeType.BATCH_CLOSED" value="72"/>
     <enumeration id="ResponseCodeType.BATCH_NOT_OPEN" value="74"/>
     <enumeration id="ResponseCodeType.CH_VOID" value="85"/>
     <enumeration id="ResponseCodeType.CIFS_VOID" value="87"/>
     <enumeration id="ResponseCodeType.CUTOFF_IN_PROG" value="94"/>
     <enumeration id="ResponseCodeType.DATES_NOT_IN_SYNC" value="77"/>
     <enumeration id="ResponseCodeType.FATAL_INT_ERROR" value="99"/>
     <enumeration id="ResponseCodeType.INT_ERROR" value="98"/>
     <enumeration id="ResponseCodeType.INV_BATCH_STATUS" value="67"/>
     <enumeration id="ResponseCodeType.INV_BR_CODE" value="76"/>
     <enumeration id="ResponseCodeType.INV_MSG_FORMAT" value="95"/>
     <enumeration id="ResponseCodeType.INV_PROC_CODE" value="96"/>
     <enumeration id="ResponseCodeType.INV_SERVER" value="97"/>
     <enumeration id="ResponseCodeType.INV_USER" value="79"/>
     <enumeration id="ResponseCodeType.LN_VOID" value="89"/>
     <enumeration id="ResponseCodeType.NO_SERVICE_AVL" value="93"/>
     <enumeration id="ResponseCodeType.NOGLACCT" value="9"/>
     <enumeration id="ResponseCodeType.NOT_CONFIRMED" value="75"/>
     <enumeration id="ResponseCodeType.NOT_TEMP_CLOSED" value="73"/>
     <enumeration id="ResponseCodeType.OL_VOID" value="90"/>
     <enumeration id="ResponseCodeType.OVR_EXCEP_PRES_01" value="30"/>
     <enumeration id="ResponseCodeType.OVR_EXCEP_PRES_99" value="40"/>
     <enumeration id="ResponseCodeType.REM_LNK_FAILED" value="91"/>
     <enumeration id="ResponseCodeType.SUCCESS" value="0"/>
     <enumeration id="ResponseCodeType.SUCCESS_AUNCLR" value="2"/>
     <enumeration id="ResponseCodeType.SUCCESS_CRD" value="1"/>
     <enumeration id="ResponseCodeType.SUCCESS_OVR" value="4"/>
     <enumeration id="ResponseCodeType.SUCCESS_SWPIN" value="3"/>
     <enumeration id="ResponseCodeType.SUCCESS_TNKTXN" value="5"/>
     <enumeration id="ResponseCodeType.TD_VOID" value="88"/>
     <enumeration id="ResponseCodeType.TIMED_OUT" value="92"/>
     <enumeration id="ResponseCodeType.TWO_BATCH" value="71"/>
    </restriction>
   </simpleType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exception.infra.fcr.iflex.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.savings.deposit.app.fcr.iflex.com"/>
   <import namespace="http://dto.deposit.app.fcr.iflex.com"/>
   <import namespace="http://dto.entity.fcr.iflex.com"/>
   <import namespace="http://dto.common.entity.fcr.iflex.com"/>
   <import namespace="http://error.validation.infra.fcr.iflex.com"/>
   <import namespace="http://dto.spi.savings.deposit.app.fcr.iflex.com"/>
   <import namespace="http://transaction.entity.fcr.iflex.com"/>
   <import namespace="http://enumeration.infra.fcr.iflex.com"/>
   <import namespace="http://datatype.fcr.iflex.com"/>
   <import namespace="http://context.app.fcr.iflex.com"/>
   <import namespace="http://enumeration.fcr.iflex.com"/>
   <import namespace="http://casa.account.entity.fcr.iflex.com"/>
   <complexType name="ReplyMessage">
    <sequence>
     <element name="code" nillable="true" type="tns8:ReplyMessageType"/>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns7_ReplyMessage">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns7:ReplyMessage"/>
    </sequence>
   </complexType>
   <complexType name="ExtendedReply">
    <sequence>
     <element name="messages" nillable="true" type="tns7:ArrayOf_tns7_ReplyMessage"/>
    </sequence>
   </complexType>
   <complexType abstract="true" name="FCRException">
    <sequence>
     <element name="errorCode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType abstract="true" name="OLTPException">
    <complexContent>
     <extension base="tns7:FCRException">
      <sequence>
       <element name="responseCode" nillable="true" type="tns8:ResponseCodeType"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="FatalException">
    <complexContent>
     <extension base="tns7:OLTPException">
      <sequence>
       <element name="reason" nillable="true" type="tns7:ReplyMessage"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://error.validation.infra.fcr.iflex.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.savings.deposit.app.fcr.iflex.com"/>
   <import namespace="http://dto.deposit.app.fcr.iflex.com"/>
   <import namespace="http://exception.infra.fcr.iflex.com"/>
   <import namespace="http://dto.entity.fcr.iflex.com"/>
   <import namespace="http://dto.common.entity.fcr.iflex.com"/>
   <import namespace="http://dto.spi.savings.deposit.app.fcr.iflex.com"/>
   <import namespace="http://transaction.entity.fcr.iflex.com"/>
   <import namespace="http://enumeration.infra.fcr.iflex.com"/>
   <import namespace="http://datatype.fcr.iflex.com"/>
   <import namespace="http://context.app.fcr.iflex.com"/>
   <import namespace="http://enumeration.fcr.iflex.com"/>
   <import namespace="http://casa.account.entity.fcr.iflex.com"/>
   <complexType name="ValidationError">
    <sequence>
     <element name="applicableAttributes" nillable="true" type="xsd:string"/>
     <element name="attributeName" nillable="true" type="xsd:string"/>
     <element name="attributeValue" nillable="true" type="xsd:string"/>
     <element name="errorCode" nillable="true" type="xsd:string"/>
     <element name="errorMessage" nillable="true" type="xsd:string"/>
     <element name="methodName" nillable="true" type="xsd:string"/>
     <element name="objectName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns9_ValidationError">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns9:ValidationError"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://transaction.entity.fcr.iflex.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.savings.deposit.app.fcr.iflex.com"/>
   <import namespace="http://dto.deposit.app.fcr.iflex.com"/>
   <import namespace="http://exception.infra.fcr.iflex.com"/>
   <import namespace="http://dto.entity.fcr.iflex.com"/>
   <import namespace="http://dto.common.entity.fcr.iflex.com"/>
   <import namespace="http://error.validation.infra.fcr.iflex.com"/>
   <import namespace="http://dto.spi.savings.deposit.app.fcr.iflex.com"/>
   <import namespace="http://enumeration.infra.fcr.iflex.com"/>
   <import namespace="http://datatype.fcr.iflex.com"/>
   <import namespace="http://context.app.fcr.iflex.com"/>
   <import namespace="http://enumeration.fcr.iflex.com"/>
   <import namespace="http://casa.account.entity.fcr.iflex.com"/>
   <complexType name="TransactionStatus">
    <sequence>
     <element name="errorCode" nillable="true" type="xsd:string"/>
     <element name="extendedReply" nillable="true" type="tns7:ExtendedReply"/>
     <element name="externalReferenceNo" nillable="true" type="xsd:string"/>
     <element name="inputOverridenWarnings" nillable="true" type="xsd:string"/>
     <element name="isOverriden" type="xsd:boolean"/>
     <element name="isServiceChargeApplied" type="xsd:boolean"/>
     <element name="memo" nillable="true" type="xsd:string"/>
     <element name="replyCode" type="xsd:long"/>
     <element name="replyText" nillable="true" type="xsd:string"/>
     <element name="spReturnValue" type="xsd:long"/>
     <element name="transactionDateTimeText" nillable="true" type="xsd:string"/>
     <element name="userReferenceNumber" nillable="true" type="xsd:string"/>
     <element name="validationErrors" nillable="true" type="tns9:ArrayOf_tns9_ValidationError"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dto.entity.fcr.iflex.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.savings.deposit.app.fcr.iflex.com"/>
   <import namespace="http://dto.deposit.app.fcr.iflex.com"/>
   <import namespace="http://exception.infra.fcr.iflex.com"/>
   <import namespace="http://dto.common.entity.fcr.iflex.com"/>
   <import namespace="http://error.validation.infra.fcr.iflex.com"/>
   <import namespace="http://dto.spi.savings.deposit.app.fcr.iflex.com"/>
   <import namespace="http://transaction.entity.fcr.iflex.com"/>
   <import namespace="http://enumeration.infra.fcr.iflex.com"/>
   <import namespace="http://datatype.fcr.iflex.com"/>
   <import namespace="http://context.app.fcr.iflex.com"/>
   <import namespace="http://enumeration.fcr.iflex.com"/>
   <import namespace="http://casa.account.entity.fcr.iflex.com"/>
   <complexType abstract="true" name="BaseResponse">
    <sequence>
     <element name="status" nillable="true" type="tns6:TransactionStatus"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://datatype.fcr.iflex.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.savings.deposit.app.fcr.iflex.com"/>
   <import namespace="http://dto.deposit.app.fcr.iflex.com"/>
   <import namespace="http://exception.infra.fcr.iflex.com"/>
   <import namespace="http://dto.entity.fcr.iflex.com"/>
   <import namespace="http://dto.common.entity.fcr.iflex.com"/>
   <import namespace="http://error.validation.infra.fcr.iflex.com"/>
   <import namespace="http://dto.spi.savings.deposit.app.fcr.iflex.com"/>
   <import namespace="http://transaction.entity.fcr.iflex.com"/>
   <import namespace="http://enumeration.infra.fcr.iflex.com"/>
   <import namespace="http://context.app.fcr.iflex.com"/>
   <import namespace="http://enumeration.fcr.iflex.com"/>
   <import namespace="http://casa.account.entity.fcr.iflex.com"/>
   <complexType name="Date">
    <sequence>
     <element name="monthDate" type="xsd:int"/>
     <element name="monthDateTime" type="xsd:long"/>
     <element name="mutable" type="xsd:boolean"/>
     <element name="time" type="xsd:long"/>
     <element name="timestamp" nillable="true" type="xsd:dateTime"/>
     <element name="year" type="xsd:int"/>
     <element name="yearMonthDate" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="Address">
    <sequence>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="country" nillable="true" type="xsd:string"/>
     <element name="line1" nillable="true" type="xsd:string"/>
     <element name="line2" nillable="true" type="xsd:string"/>
     <element name="line3" nillable="true" type="xsd:string"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="zip" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Phone">
    <sequence>
     <element name="extension" nillable="true" type="xsd:string"/>
     <element name="isdCode" nillable="true" type="xsd:string"/>
     <element name="number" nillable="true" type="xsd:string"/>
     <element name="stdCode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dto.common.entity.fcr.iflex.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.savings.deposit.app.fcr.iflex.com"/>
   <import namespace="http://dto.deposit.app.fcr.iflex.com"/>
   <import namespace="http://exception.infra.fcr.iflex.com"/>
   <import namespace="http://dto.entity.fcr.iflex.com"/>
   <import namespace="http://error.validation.infra.fcr.iflex.com"/>
   <import namespace="http://dto.spi.savings.deposit.app.fcr.iflex.com"/>
   <import namespace="http://transaction.entity.fcr.iflex.com"/>
   <import namespace="http://enumeration.infra.fcr.iflex.com"/>
   <import namespace="http://datatype.fcr.iflex.com"/>
   <import namespace="http://context.app.fcr.iflex.com"/>
   <import namespace="http://enumeration.fcr.iflex.com"/>
   <import namespace="http://casa.account.entity.fcr.iflex.com"/>
   <complexType name="MaintainableEntityDTO">
    <sequence>
     <element name="checker" nillable="true" type="xsd:string"/>
     <element name="fieldReferenceNumber" nillable="true" type="xsd:string"/>
     <element name="maintenanceCode" nillable="true" type="tns2:MaintenanceType"/>
     <element name="maintenanceStatus" nillable="true" type="tns2:StatusType"/>
     <element name="maintenanceTicket" nillable="true" type="xsd:string"/>
     <element name="maker" nillable="true" type="xsd:string"/>
     <element name="modificationDate" nillable="true" type="tns11:Date"/>
     <element name="version" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://casa.account.entity.fcr.iflex.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.savings.deposit.app.fcr.iflex.com"/>
   <import namespace="http://dto.deposit.app.fcr.iflex.com"/>
   <import namespace="http://exception.infra.fcr.iflex.com"/>
   <import namespace="http://dto.entity.fcr.iflex.com"/>
   <import namespace="http://dto.common.entity.fcr.iflex.com"/>
   <import namespace="http://error.validation.infra.fcr.iflex.com"/>
   <import namespace="http://dto.spi.savings.deposit.app.fcr.iflex.com"/>
   <import namespace="http://transaction.entity.fcr.iflex.com"/>
   <import namespace="http://enumeration.infra.fcr.iflex.com"/>
   <import namespace="http://datatype.fcr.iflex.com"/>
   <import namespace="http://context.app.fcr.iflex.com"/>
   <import namespace="http://enumeration.fcr.iflex.com"/>
   <complexType name="InstructionActivity">
    <sequence>
     <element name="failureReason" nillable="true" type="xsd:string"/>
     <element name="lastRetryDate" nillable="true" type="tns11:Date"/>
     <element name="retryCount" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="InstructionPeriod">
    <sequence>
     <element name="endDate" nillable="true" type="tns11:Date"/>
     <element name="lastDate" nillable="true" type="tns11:Date"/>
     <element name="nextDate" nillable="true" type="tns11:Date"/>
     <element name="startDate" nillable="true" type="tns11:Date"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dto.deposit.app.fcr.iflex.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.savings.deposit.app.fcr.iflex.com"/>
   <import namespace="http://exception.infra.fcr.iflex.com"/>
   <import namespace="http://dto.entity.fcr.iflex.com"/>
   <import namespace="http://dto.common.entity.fcr.iflex.com"/>
   <import namespace="http://error.validation.infra.fcr.iflex.com"/>
   <import namespace="http://dto.spi.savings.deposit.app.fcr.iflex.com"/>
   <import namespace="http://transaction.entity.fcr.iflex.com"/>
   <import namespace="http://enumeration.infra.fcr.iflex.com"/>
   <import namespace="http://datatype.fcr.iflex.com"/>
   <import namespace="http://context.app.fcr.iflex.com"/>
   <import namespace="http://enumeration.fcr.iflex.com"/>
   <import namespace="http://casa.account.entity.fcr.iflex.com"/>
   <complexType name="BeneficiaryDetailsDTO">
    <sequence>
     <element name="beneficiaryAccountTypes" nillable="true" type="tns2:BeneficiaryAccountType"/>
     <element name="beneficiaryAddress" nillable="true" type="tns11:Address"/>
     <element name="beneficiaryId" nillable="true" type="xsd:string"/>
     <element name="beneficiaryName" nillable="true" type="xsd:string"/>
     <element name="beneficiaryPhone" nillable="true" type="tns11:Phone"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dto.savings.deposit.app.fcr.iflex.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.deposit.app.fcr.iflex.com"/>
   <import namespace="http://exception.infra.fcr.iflex.com"/>
   <import namespace="http://dto.entity.fcr.iflex.com"/>
   <import namespace="http://dto.common.entity.fcr.iflex.com"/>
   <import namespace="http://error.validation.infra.fcr.iflex.com"/>
   <import namespace="http://dto.spi.savings.deposit.app.fcr.iflex.com"/>
   <import namespace="http://transaction.entity.fcr.iflex.com"/>
   <import namespace="http://enumeration.infra.fcr.iflex.com"/>
   <import namespace="http://datatype.fcr.iflex.com"/>
   <import namespace="http://context.app.fcr.iflex.com"/>
   <import namespace="http://enumeration.fcr.iflex.com"/>
   <import namespace="http://casa.account.entity.fcr.iflex.com"/>
   <complexType name="SweepOutTermDepositDetailDTO">
    <sequence>
     <element name="accountVariance" type="xsd:float"/>
     <element name="baseAmountForRate" nillable="true" type="tns2:BaseAmountTierRateType"/>
     <element name="compoundingFrequency" nillable="true" type="tns2:CompoundingFrequencyType"/>
     <element name="isSweepInProvider" type="xsd:boolean"/>
     <element name="payoutFrequency" nillable="true" type="tns2:CompoundingFrequencyType"/>
     <element name="productCode" type="xsd:int"/>
     <element name="termDays" type="xsd:int"/>
     <element name="termMonths" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="StandingInstructionDTO">
    <complexContent>
     <extension base="tns10:MaintainableEntityDTO">
      <sequence>
       <element name="accountId" nillable="true" type="xsd:string"/>
       <element name="activity" nillable="true" type="tns12:InstructionActivity"/>
       <element name="amount" nillable="true" type="xsd:decimal"/>
       <element name="applySC" nillable="true" type="xsd:string"/>
       <element name="automaticallyIssued" type="xsd:boolean"/>
       <element name="beneficiaryAccountId" nillable="true" type="xsd:string"/>
       <element name="beneficiaryAccountType" nillable="true" type="tns2:BeneficiaryAccountType"/>
       <element name="beneficiaryDetailsDTO" nillable="true" type="tns13:BeneficiaryDetailsDTO"/>
       <element name="branch" type="xsd:int"/>
       <element name="calendarBased" type="xsd:boolean"/>
       <element name="financialInstitutionCode" nillable="true" type="xsd:string"/>
       <element name="forceDebitAllowed" type="xsd:boolean"/>
       <element name="instructionCurrency" nillable="true" type="xsd:string"/>
       <element name="instructionNumber" type="xsd:int"/>
       <element name="narrative" nillable="true" type="xsd:string"/>
       <element name="nonFCBranchCode" type="xsd:int"/>
       <element name="paymentCode" nillable="true" type="xsd:string"/>
       <element name="paymentDescription" nillable="true" type="xsd:string"/>
       <element name="paymentMode" nillable="true" type="tns2:PaymentModeType"/>
       <element name="paymentType" nillable="true" type="xsd:string"/>
       <element name="period" nillable="true" type="tns12:InstructionPeriod"/>
       <element name="priority" nillable="true" type="xsd:string"/>
       <element name="product" type="xsd:int"/>
       <element name="receivingBankCode" nillable="true" type="xsd:string"/>
       <element name="receivingBranchCode" nillable="true" type="xsd:string"/>
       <element name="routingNumber" nillable="true" type="xsd:string"/>
       <element name="standingInstructionFrequency" nillable="true" type="tns2:FrequencyType"/>
       <element name="standingInstructionType" nillable="true" type="tns2:StandingInstructionType"/>
       <element name="termDepositDetails" nillable="true" type="tns4:SweepOutTermDepositDetailDTO"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="StandingInstructionInquiryReponse">
    <complexContent>
     <extension base="tns5:BaseResponse">
      <sequence>
       <element name="standingInstructionDetails" nillable="true" type="tns4:StandingInstructionDTO"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="StandingInstructionAdditionResponse">
    <complexContent>
     <extension base="tns5:BaseResponse">
      <sequence>
       <element name="instructionNumber" type="xsd:int"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="StandingInstructionDetailsDTO">
    <sequence>
     <element name="accountId" nillable="true" type="xsd:string"/>
     <element name="amount" nillable="true" type="xsd:decimal"/>
     <element name="beneficiaryAccountId" nillable="true" type="xsd:string"/>
     <element name="beneficiaryName" nillable="true" type="xsd:string"/>
     <element name="endDate" nillable="true" type="tns11:Date"/>
     <element name="failureServiceChargeAmount" nillable="true" type="xsd:decimal"/>
     <element name="instructionCurrency" nillable="true" type="xsd:string"/>
     <element name="instructionNumber" type="xsd:int"/>
     <element name="narrative" nillable="true" type="xsd:string"/>
     <element name="nextDate" nillable="true" type="tns11:Date"/>
     <element name="priority" type="xsd:int"/>
     <element name="standingInstructionFrequency" nillable="true" type="tns2:FrequencyType"/>
     <element name="standingInstructionType" nillable="true" type="tns2:StandingInstructionType"/>
     <element name="startDate" nillable="true" type="tns11:Date"/>
     <element name="sucessServiceChargeAmount" nillable="true" type="xsd:decimal"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns4_StandingInstructionDetailsDTO">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns4:StandingInstructionDetailsDTO"/>
    </sequence>
   </complexType>
   <complexType name="StandingInstructionDetailsResponse">
    <complexContent>
     <extension base="tns5:BaseResponse">
      <sequence>
       <element name="inquiryDetailsDTO" nillable="true" type="tns4:ArrayOf_tns4_StandingInstructionDetailsDTO"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dto.spi.savings.deposit.app.fcr.iflex.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.savings.deposit.app.fcr.iflex.com"/>
   <import namespace="http://dto.deposit.app.fcr.iflex.com"/>
   <import namespace="http://exception.infra.fcr.iflex.com"/>
   <import namespace="http://dto.entity.fcr.iflex.com"/>
   <import namespace="http://dto.common.entity.fcr.iflex.com"/>
   <import namespace="http://error.validation.infra.fcr.iflex.com"/>
   <import namespace="http://transaction.entity.fcr.iflex.com"/>
   <import namespace="http://enumeration.infra.fcr.iflex.com"/>
   <import namespace="http://datatype.fcr.iflex.com"/>
   <import namespace="http://context.app.fcr.iflex.com"/>
   <import namespace="http://enumeration.fcr.iflex.com"/>
   <import namespace="http://casa.account.entity.fcr.iflex.com"/>
   <complexType name="StandingInstructionInquirySpiReponse">
    <complexContent>
     <extension base="tns4:StandingInstructionInquiryReponse">
      <sequence>
       <element name="failureServiceChargeAmount" nillable="true" type="xsd:decimal"/>
       <element name="sucessServiceChargeAmount" nillable="true" type="xsd:decimal"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="StandingInstructionDTO">
    <sequence>
     <element name="accountId" nillable="true" type="xsd:string"/>
     <element name="amount" nillable="true" type="xsd:decimal"/>
     <element name="applySC" nillable="true" type="xsd:string"/>
     <element name="automaticallyIssued" type="xsd:boolean"/>
     <element name="beneficiaryAccountId" nillable="true" type="xsd:string"/>
     <element name="beneficiaryAccountType" nillable="true" type="tns2:BeneficiaryAccountType"/>
     <element name="beneficiaryDetailsDTO" nillable="true" type="tns13:BeneficiaryDetailsDTO"/>
     <element name="branch" type="xsd:int"/>
     <element name="calendarBased" type="xsd:boolean"/>
     <element name="endDate" nillable="true" type="xsd:string"/>
     <element name="failureReason" nillable="true" type="xsd:string"/>
     <element name="financialInstitutionCode" nillable="true" type="xsd:string"/>
     <element name="forceDebitAllowed" type="xsd:boolean"/>
     <element name="instructionCurrency" nillable="true" type="xsd:string"/>
     <element name="instructionNumber" type="xsd:int"/>
     <element name="lastDate" nillable="true" type="xsd:string"/>
     <element name="lastRetryDate" nillable="true" type="xsd:string"/>
     <element name="narrative" nillable="true" type="xsd:string"/>
     <element name="nextDate" nillable="true" type="xsd:string"/>
     <element name="nonFCBranchCode" type="xsd:int"/>
     <element name="paymentCode" nillable="true" type="xsd:string"/>
     <element name="paymentDescription" nillable="true" type="xsd:string"/>
     <element name="paymentMode" nillable="true" type="tns2:PaymentModeType"/>
     <element name="paymentType" nillable="true" type="xsd:string"/>
     <element name="priority" nillable="true" type="xsd:string"/>
     <element name="product" type="xsd:int"/>
     <element name="receivingBankCode" nillable="true" type="xsd:string"/>
     <element name="receivingBranchCode" nillable="true" type="xsd:string"/>
     <element name="retryCount" type="xsd:int"/>
     <element name="routingNumber" nillable="true" type="xsd:string"/>
     <element name="standingInstructionFrequency" nillable="true" type="tns2:FrequencyType"/>
     <element name="standingInstructionType" nillable="true" type="tns2:StandingInstructionType"/>
     <element name="startDate" nillable="true" type="xsd:string"/>
     <element name="termDepositDetails" nillable="true" type="tns4:SweepOutTermDepositDetailDTO"/>
    </sequence>
   </complexType>
   <complexType name="StandingInstructionMaintenanceResponse">
    <complexContent>
     <extension base="tns4:StandingInstructionAdditionResponse">
      <sequence>
       <element name="failureServiceChargeAmount" nillable="true" type="xsd:decimal"/>
       <element name="sucessServiceChargeAmount" nillable="true" type="xsd:decimal"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="deleteStandingInstructionRequest">

      <wsdl:part element="intf:deleteStandingInstruction" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteStandingInstructionResponse">

      <wsdl:part element="intf:deleteStandingInstructionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modifyStandingInstructionRequest">

      <wsdl:part element="intf:modifyStandingInstruction" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modifyStandingInstructionResponse">

      <wsdl:part element="intf:modifyStandingInstructionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addStandingInstructionResponse">

      <wsdl:part element="intf:addStandingInstructionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listStandingInstructionsResponse">

      <wsdl:part element="intf:listStandingInstructionsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="FatalException">

      <wsdl:part element="intf:fault" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="inquireForMaintenanceRequest">

      <wsdl:part element="intf:inquireForMaintenance" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="inquireForMaintenanceResponse">

      <wsdl:part element="intf:inquireForMaintenanceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addStandingInstructionRequest">

      <wsdl:part element="intf:addStandingInstruction" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listStandingInstructionsRequest">

      <wsdl:part element="intf:listStandingInstructions" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="DemandDepositInstructionManagerSpi">

      <wsdl:operation name="inquireForMaintenance">

         <wsdl:input message="intf:inquireForMaintenanceRequest" name="inquireForMaintenanceRequest">

       </wsdl:input>

         <wsdl:output message="intf:inquireForMaintenanceResponse" name="inquireForMaintenanceResponse">

       </wsdl:output>

         <wsdl:fault message="intf:FatalException" name="FatalException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addStandingInstruction">

         <wsdl:input message="intf:addStandingInstructionRequest" name="addStandingInstructionRequest">

       </wsdl:input>

         <wsdl:output message="intf:addStandingInstructionResponse" name="addStandingInstructionResponse">

       </wsdl:output>

         <wsdl:fault message="intf:FatalException" name="FatalException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="listStandingInstructions">

         <wsdl:input message="intf:listStandingInstructionsRequest" name="listStandingInstructionsRequest">

       </wsdl:input>

         <wsdl:output message="intf:listStandingInstructionsResponse" name="listStandingInstructionsResponse">

       </wsdl:output>

         <wsdl:fault message="intf:FatalException" name="FatalException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="modifyStandingInstruction">

         <wsdl:input message="intf:modifyStandingInstructionRequest" name="modifyStandingInstructionRequest">

       </wsdl:input>

         <wsdl:output message="intf:modifyStandingInstructionResponse" name="modifyStandingInstructionResponse">

       </wsdl:output>

         <wsdl:fault message="intf:FatalException" name="FatalException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deleteStandingInstruction">

         <wsdl:input message="intf:deleteStandingInstructionRequest" name="deleteStandingInstructionRequest">

       </wsdl:input>

         <wsdl:output message="intf:deleteStandingInstructionResponse" name="deleteStandingInstructionResponse">

       </wsdl:output>

         <wsdl:fault message="intf:FatalException" name="FatalException">

       </wsdl:fault>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DemandDepositInstructionManagerSpiSoapBinding" type="intf:DemandDepositInstructionManagerSpi">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="inquireForMaintenance">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="inquireForMaintenanceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="inquireForMaintenanceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="FatalException">

            <wsdlsoap:fault name="FatalException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addStandingInstruction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addStandingInstructionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addStandingInstructionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="FatalException">

            <wsdlsoap:fault name="FatalException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="listStandingInstructions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listStandingInstructionsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listStandingInstructionsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="FatalException">

            <wsdlsoap:fault name="FatalException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="modifyStandingInstruction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyStandingInstructionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="modifyStandingInstructionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="FatalException">

            <wsdlsoap:fault name="FatalException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deleteStandingInstruction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteStandingInstructionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteStandingInstructionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="FatalException">

            <wsdlsoap:fault name="FatalException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DemandDepositInstructionManagerSpiService">

      <wsdl:port binding="intf:DemandDepositInstructionManagerSpiSoapBinding" name="DemandDepositInstructionManagerSpi">

         <wsdlsoap:address location="http://fcrapi.uiauat.ke.intra.absaafrica/services/services/DemandDepositInstructionManagerSpi"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
